In [35]:
import pandas as pd

In [36]:
newL = pd.read_csv('../data/new_labels.csv')

In [37]:
db = pd.read_csv('../database/database3.csv')
db = db[['id','time']]

In [38]:
#merge with time variable 
time = pd.merge(newL, db, on='id')

In [39]:
time[1:5]

,Unnamed: 0,text,negative_ny,ParticipantID,id,userid,annotation_date,annotation,negative_ny.1,time
1,1708,I'm home and happy to be back. already busy wi...,2,33442,2,ff901930a5eaba2dc939d40571f51bb5,NaN,0,NaN,2010-07-31 19:57:07
2,1697,I'm fucking done. I don't need this type of sh...,1,33442,3,ff901930a5eaba2dc939d40571f51bb5,NaN,0,NaN,2010-03-23 23:57:39
3,624,"Dad's home for a month, he's going to be there...",4,22334,4,ff901930a5eaba2dc939d40571f51bb5,NaN,0,NaN,2011-03-31 4:19:44
4,90,*sighs* I just want to go home...sorta. There'...,1,44553,5,ff901930a5eaba2dc939d40571f51bb5,NaN,0,NaN,2009-08-29 21:25:34

1 negative
2 positive
3 mixed
4 neutral
5 foreign language

In [41]:
time['negative_ny'].value_counts()

2    1643
1    1279
4     708
3     212
5      39
Name: negative_ny, dtype: int64

percentage of negative post in each user

In [145]:
#select negative post then groupby
neg_g = time.loc[time['negative_ny'] == 1].groupby(['userid'])
#negative post count
neg_c = neg_g['negative_ny'].count().reset_index()
neg_c.columns = ['userid', 'neg_count']

#all post count
post_c = time.groupby(['userid']).count().negative_ny.reset_index()
post_c.columns = ['userid', 'all_count']

per_df = pd.merge(neg_c, post_c, how = 'right', on = 'userid')
per_df['neg_count'].fillna(0, inplace=True)
#negative post percentage
per_df['neg_per'] = per_df['neg_count']/per_df['all_count']
per_df[1:10]

                             userid  neg_count  all_count   neg_per
1  00c69df4ec41f61da30ed2874b9fbfaf        1.0          1  1.000000
2  011679a3ae49998801ada93d822b7302        5.0         11  0.454545
3  01530624766b3be63c7709c6581c335d        7.0         12  0.583333
4  04a3601e8b319f740167723a58c488e7        4.0         14  0.285714
5  04be1d6fa64adb60a3d2847f4f905ec1        8.0         15  0.533333
6  054e5fd22c26a92926a61c261c99054c        2.0          9  0.222222
7  055638f0a33b2df4031fadb86076861f        2.0         21  0.095238
8  059c18ea701ce88479c9e10a25cb8284        2.0          7  0.285714
9  05a1a1b67e3d7a923f9d0ee5502757c0        4.0          6  0.666667

In [96]:
#gcv[gcv.negative_ny == 1]