In [1]:
import pandas as pd
import numpy as np
import statsmodels.api as sm
import csv
from datetime import datetime

/home/lucia/anaconda3/lib/python3.6/site-packages/statsmodels/compat/pandas.py:56: FutureWarning: The pandas.core.datetools module is deprecated and will be removed in a future version. Please use the pandas.tseries module instead.
  from pandas.core import datetools

* Mood vector Design 1: for each day, if negative_count > positive_count or negative_count > neutral_count or neative_count > mix_count, assign negative to that day; if positive_count > negative_count or positive_count > neutral_count or positive_count > mix_count, assign positive to that day; if mix_count >= positive_count or mix_count >= negative_count or negative_count == positive_count, assign mix to that day; if neutral_count >= positive_count or neutral_count >= negative_count or neutral_count > mix_count, assign neutral to that day.

In [2]:
time = pd.read_csv('../../data/important_data/twoM_newLabels.csv')
ids = pd.read_csv('../../data/important_data/Id80PerRetained.csv')
time  = time[['text','id','negative_ny','userid','time','time_diff']]
time.shape

(4099, 6)

In [3]:
ids2 = ids[['userid']]
time = pd.merge(ids2, time, how = 'left', on = 'userid' )
time.shape

(4086, 6)

In [4]:
#select date
time['time'] = time['time'].apply(lambda x: x.split()[0])
time[1:5]

,userid,text,id,negative_ny,time,time_diff
1,009d96a823b6f6c085c092fb177491f6,"In honor of Mother's Day, we are trying to see...",948,4,05/05/2011,7
2,009d96a823b6f6c085c092fb177491f6,"What would your liqour do? If it could, it wou...",949,2,05/05/2011,7
3,009d96a823b6f6c085c092fb177491f6,War is about who's left not who's right.... be...,946,2,04/05/2011,8
4,009d96a823b6f6c085c092fb177491f6,Loving the fact my babie made me breakfast mmm...,942,2,01/05/2011,11

In [5]:
#convert to time series
# time['time'] = time['time'].apply(lambda x: parser.parse(x))
# time['time'] = time['time'].apply(lambda x: datetime.strptime(x, '%d %b %Y'))
time['time'] = time['time'].apply(lambda x: datetime.strptime(x, '%d/%m/%Y'))
time['time'][1:10]

1   2011-05-05
2   2011-05-05
3   2011-05-04
4   2011-05-01
5   2011-04-28
6   2011-04-25
7   2011-04-20
8   2011-04-20
9   2011-04-19
Name: time, dtype: datetime64[ns]

In [6]:
#sort values according to userid, time and valence
time = time.sort_values(by=['userid','time_diff','negative_ny'],  ascending=False)
time[1:10]

,userid,text,id,negative_ny,time,time_diff
4083,fbd681e79ebca2cd9509218403f23ec6,Happy birthday Giancarlo!!!!!!!,4105,2,2010-12-20,57
4084,fbd681e79ebca2cd9509218403f23ec6,"I want a Christmas tree, I want a Christmas tr...",4106,2,2010-12-20,57
4082,fbd681e79ebca2cd9509218403f23ec6,SHOOTAH!,4107,2,2010-12-22,55
4081,fbd681e79ebca2cd9509218403f23ec6,"(oh, you're making me live) ... Oh, you're the...",276,2,2010-12-23,54
4080,fbd681e79ebca2cd9509218403f23ec6,?? ? /My ears like to talk,4110,4,2010-12-24,53
4079,fbd681e79ebca2cd9509218403f23ec6,DIVINE LITURGY THIS SUNDAY!!!!! YES YES YES YE...,4109,2,2010-12-24,53
4078,fbd681e79ebca2cd9509218403f23ec6,keeps stealing her little brother's presents...,4111,4,2010-12-25,52
4077,fbd681e79ebca2cd9509218403f23ec6,IT'S SNOWING!!!!!!! Finally!,4112,2,2010-12-26,51
4076,fbd681e79ebca2cd9509218403f23ec6,had a furious battle with a 6-foot snowdrift f...,4113,2,2010-12-27,50

In [81]:
def getTransitions(ValenceObject):

    negaTran = 0
    posiTran = 0
    mixTran = 0
    neuTran = 0
    PosAndNeg = 0
    MixAndPos = 0
    MixAndNeg = 0
    MixAndNeu = 0    
    NeuAndPos = 0
    NeuAndNeg = 0
    preValence = 0
    for valence in ValenceObject:
    #these are self transition states
        if valence == 1 and preValence == 1:
            negaTran = negaTran + 1
        elif valence == 2 and preValence == 2:
            posiTran = posiTran + 1
        elif valence == 3 and preValence == 3:
            mixTran = mixTran + 1
        elif valence == 4 and preValence == 4:
            neuTran = neuTran + 1
    #positive and negative transition:
        if (valence == 1 and preValence == 2) or (valence == 2 and preValence == 1) :
            PosAndNeg = PosAndNeg + 1
    #mix and positive transition
        if (valence == 3 and preValence == 2) or (valence == 2 and preValence == 3) :
            MixAndPos = MixAndPos + 1
    #mix and negative transition
        if (valence == 3 and preValence == 1) or (valence == 1 and preValence == 3) :
            MixAndNeg = MixAndNeg + 1
    #mix and neutral transition
        if (valence == 3 and preValence == 4) or (valence == 4 and preValence == 3) :
            MixAndNeu = MixAndNeu + 1
    #neutral and postive transition
        if (valence == 4 and preValence == 2) or (valence == 2 and preValence == 4) :
            NeuAndPos = NeuAndPos + 1
    #neutral and negative transition 
        if (valence == 4 and preValence == 1) or (valence == 1 and preValence == 4) :
            NeuAndNeg = NeuAndNeg + 1      
        preValence = valence
    return [negaTran, posiTran, mixTran, neuTran, PosAndNeg, MixAndPos, MixAndNeg, MixAndNeu, NeuAndPos, NeuAndNeg]

In [77]:
def getValenceVector(df):
    valenceVec = {}
    valences =[]
    preUser = None

    for valence, day, user in zip(df['negative_ny'], df['time_diff'], df['userid']):
        if preUser is None:
            valences = [valence]
        elif user == preUser:
            valences.append(valence)
        else:
            valences = [valence]   
            valenceVec[user] = valences
        preUser = user
    return valenceVec

valenceVec = getValenceVector(time)

In [96]:
i = 0
for item in valenceVec:

    i = i+1
print(i)
#why one is missing?????

73

In [99]:
count = 0
negativeD = []
positiveD = []
neutralD = []
mixed = []
for userid in valenceVec:
    negativeD.append(valenceVec[userid].count(1))
    positiveD.append(valenceVec[userid].count(2))
    neutralD.append(valenceVec[userid].count(4))
    mixed.append(valenceVec[userid].count(3))
    print('user {} has  {} negative days, {} positive days {}, neutral days and mix days {}'.format(userid, users[userid].count(-1), users[userid].count(1), users[userid].count(2), users[userid].count(4), users[userid].count(3)))
    count += 1
    if count == 5:
        break

user f8708568eff1535c85247b28dc126f9b has  1 negative days, 32 positive days 23, neutral days and mix days 2
user f49956142aab2ad74decfd49a103c2f1 has  29 negative days, 11 positive days 13, neutral days and mix days 7
user f358b75c71d85c91ec0452c6114e3b15 has  28 negative days, 7 positive days 20, neutral days and mix days 3
user ec3dc451b8a811f05ace158a0d76e32e has  43 negative days, 9 positive days 2, neutral days and mix days 6
user eaeabcfe25866f0455d349bae2450d88 has  27 negative days, 11 positive days 18, neutral days and mix days 3

In [92]:
def getUserTransitions(valencVec):
    result = {}
    for item in valencVec:
        result[item] = getTransitions(valencVec[item])
#         print(result)
    return result
        
TransitionStates = getUserTransitions(valenceVec)

create table for statistics

In [94]:
df = pd.DataFrame(np.array(negativeD).reshape(73,1), columns=['NegativePosts'])
df['PositivePosts'] = positiveD
df['NeutralPosts'] = neutralD
df['MixedPosts'] = mixed
df[1:5]

   NegativePosts  PositivePosts  NeutralPosts  MixedPosts
1             15             21            13           0
2              9             25             3           3
3             14              2             8           0
4             11             28             6           1

In [97]:
df.describe()

       NegativePosts  PositivePosts  NeutralPosts  MixedPosts
count      73.000000      73.000000     73.000000   73.000000
mean       16.410959      27.054795     10.328767    1.205479
std        15.487303      21.767005      8.120712    1.682912
min         0.000000       2.000000      0.000000    0.000000
25%         7.000000      17.000000      5.000000    0.000000
50%        12.000000      20.000000      8.000000    1.000000
75%        20.000000      27.000000     14.000000    2.000000
max       107.000000     100.000000     39.000000   11.000000

In [100]:
#pickle
import pickle
with open('../../data/important_data/moodVectorsData/MoodVecDes3.pickle', 'wb') as handle:
    pickle.dump(users2, handle, protocol=pickle.HIGHEST_PROTOCOL)

In [108]:
#write result as csv
#header = ['userid','vector']
with open('../../data/important_data/moodVectorsData/PostsvalenceTransitions.csv','w') as csv_file:
    writer = csv.writer(csv_file)
   # writer.writerow(i for i in header)
    writer.writerow(TransitionStates.keys())
    for row in zip(*TransitionStates.values()):
        writer.writerow(list(row))

In [110]:
#read csv file 
file = pd.read_csv('../../data/important_data/moodVectorsData/PostsvalenceTransitions.csv')
file = file.transpose()
file.columns = ['negaTran', 'posiTran', 'mixTran', 'neuTran', 'PosAndNeg', 'MixAndPos', 'MixAndNeg', 'MixAndNeu', 'NeuAndPos', 'NeuAndNeg']
file[1:5]

,negaTran,posiTran,mixTran,neuTran,PosAndNeg,MixAndPos,MixAndNeg,MixAndNeu,NeuAndPos,NeuAndNeg
f49956142aab2ad74decfd49a103c2f1,5,11,0,3,10,0,0,0,9,10
f358b75c71d85c91ec0452c6114e3b15,3,16,2,0,10,1,1,0,5,1
ec3dc451b8a811f05ace158a0d76e32e,7,0,0,2,2,0,0,0,2,10
eaeabcfe25866f0455d349bae2450d88,1,16,0,0,14,2,0,0,7,5

In [114]:
#add one column as row sum
file['allPosts'] = file.sum(axis=1) 
file[1:5]

,negaTran,posiTran,mixTran,neuTran,PosAndNeg,MixAndPos,MixAndNeg,MixAndNeu,NeuAndPos,NeuAndNeg,allPosts
f49956142aab2ad74decfd49a103c2f1,5,11,0,3,10,0,0,0,9,10,96.0
f358b75c71d85c91ec0452c6114e3b15,3,16,2,0,10,1,1,0,5,1,78.0
ec3dc451b8a811f05ace158a0d76e32e,7,0,0,2,2,0,0,0,2,10,46.0
eaeabcfe25866f0455d349bae2450d88,1,16,0,0,14,2,0,0,7,5,90.0

compute transition states probability, since all the participants has 59 transtion states, we compute the pobability by dividing the transition with number of all posts

In [115]:
Tranprob = file.apply(lambda x: x/file.iloc[:,-1])
Tranprob['userid'] = Tranprob.index
Tranprob[1:5]

,negaTran,posiTran,mixTran,neuTran,PosAndNeg,MixAndPos,MixAndNeg,MixAndNeu,NeuAndPos,NeuAndNeg,allPosts,userid
f49956142aab2ad74decfd49a103c2f1,0.052083,0.114583,0.000000,0.031250,0.104167,0.000000,0.000000,0.0,0.093750,0.104167,1.0,f49956142aab2ad74decfd49a103c2f1
f358b75c71d85c91ec0452c6114e3b15,0.038462,0.205128,0.025641,0.000000,0.128205,0.012821,0.012821,0.0,0.064103,0.012821,1.0,f358b75c71d85c91ec0452c6114e3b15
ec3dc451b8a811f05ace158a0d76e32e,0.152174,0.000000,0.000000,0.043478,0.043478,0.000000,0.000000,0.0,0.043478,0.217391,1.0,ec3dc451b8a811f05ace158a0d76e32e
eaeabcfe25866f0455d349bae2450d88,0.011111,0.177778,0.000000,0.000000,0.155556,0.022222,0.000000,0.0,0.077778,0.055556,1.0,eaeabcfe25866f0455d349bae2450d88

Now we write the valence vector as csv file